@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Gentium+Plus:ital@1&family=Montserrat+Alternates:wght@200&family=Montserrat:ital,wght@1,200;1,300;1,500&family=Poppins:wght@200;400&family=Roboto:ital,wght@0,700;1,300;1,500;1,700&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
/* ##################utility##### */

.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-gray{
    color: gray;
}
.lg-heading{
    font-size: 3.2rem;
   
}
.dark{
    background-image: url(../img/header-image.jpg);

}
.bg-dark{
    background-color: #e63946;
    margin-bottom: 8rem;
}
.md-heading{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 500;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.header{
    height: 95vh;
    
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;  
}
 .logo,
 .nav-items a{
    color: white;
}
.yahoo{
    height: 20vh;
}
 .logo{
    float: left;
    font-size: 3.5rem;

}
p{
    text-transform: uppercase;
}
 .navbar .nav-items{
    float: right;
    /* list-style: none; */
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
 .navbar .nav-item{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    /* list-style: none; */
    margin-top: 1rem;
}
.navbar a:hover{
    border-bottom: 1px solid white;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.travel-content a{
    border: 1px solid white;
}
.travel-content h1{
    text-transform: uppercase;
   
}
.feature hea
.btn{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5em 1.5em;
    
}
.btn-primary{
    background-color: #f4f4f4;
    border-radius: 100px;
}
.btn-secondary{
    border: 2px solid #e63946;
    background-color: aliceblue;
    color: #e63946;
    border-radius: 1.5em;
    padding: auto;
    margin-right: 100px;
}
.travel-content{
    
    
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0.0.0,.5) rgba(0,0,0,.5));
}
/* ###########section############ */
.showcase{
    padding: 10rem 0;
    background-color: #ddd;
    margin-bottom: 10rem;
}
.row{
    height: 350px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.644);
    
}
.row1{
    margin-bottom: 10rem;

}
.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
    
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.row .text-box{
    text-transform: uppercase;
    background-color: white;
    
   
    
}
.showcase p{
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    background-color: white;
    font-weight: 200;
}
.showcase h2{
    border-bottom: 5px solid red;
    border-radius: 10px;
}
.btn-primary:hover{
    background-color: black;
}
.btn-secondary:hover{
    background-color: black;
}
.hero{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}
/* ##########3feature###### */
.feature{
    padding: 10rem 0;
    background-color: #ddd;
    margin-bottom: 10rem;
}
.box-wrapper{
    
    
    
    text-align: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.644);
    
}
/* .box-wrapper .box-1,.box-wrapper .box-2,.box-wrapper .box-3{
    border: 1px solid red;
} */
.box-wrapper .box-1{
    width: 33.333333%;
    float: left;
   
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    
}
.box-wrapper .box-2{
    width: 33.333333%;
    float: left;
    background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);

   
}
    
.box-wrapper .box-3{
    width: 33.333333%;
    float: left;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;

}
.box-wrapper p{
    font-weight: 600;
}
/* ###############footer###### */ */
.social{
    background: #6284FF;
}
.footer{
    background: #6284FF;
    text-align: center;
}
.social-media i{
    padding: 0 2rem;
}
/* #############about us#### */
.about{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
   
    
}
.about p{
    font-size: 1.4rem;
    padding: 0 2rem;
}

.about h2{
    border-bottom: 5px solid rebeccapurple;
    border-radius: 4px;
}
.about-wrapper .left{
    float: left;
}
.about-wrapper .right{
    float: right;
}
.about-wrapper li{
    font-size: 1.6rem;
}
.about-wrapper::after{
    content: '';
    display: block;
    clear: both;
  
}
.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    display: inline;
    clear: both;
    padding: 1rem;
}

.counts{
    margin-top: 3rem;
    
}
.count-item{
    float: left;
    width: 25%;
    
    text-align: center;
}
.counts::after{
    content: '';
    display: block;
    clear: both;
    
}
.count-item span{
    font-size: 3rem;
    font-weight: 700;
    color: #FF0000;
}
.count-item p{
    font-weight: 700;
    font-size: 1.6rem;
}
/* .count-item p::first-letter{
   font-size: 5rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
.ptn-banner{
    
    background-color: cadetblue;
    
}
.ptn-banner::after{
    content: '';
    display: block;
    clear: both;
}
.ptn-banner .ptn-banner-left{

    float: left;
    font-size: 2rem;
    /* margin-left: 15rem; */
    font-weight: 700;
    
}
.ptn-banner .ptn-banner-right{
    float: right;
    
    border: 1px solid #FF0000;
    border-radius: 100px;
    text-align: center;
    /* margin-right: 38rem; */
    font-size: 1.6rem;
    /* margin-top: 2rem; */
    background-color: #ddd;
    color: #FF0000;
    padding: 3px;
    font-weight: 700;
    text-transform: uppercase;

}
.ptn-banner .ptn-banner-right:hover{
    background-color: #ddd;
    

}
/* ##########contact##### */
.form-wrapper{
    
    background-color: #ddd;
}
.form wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.form-wrapper .company{
  
    width: 49%;
    float: left;
    
}
.form-wrapper .form-section{
   
    width: 49%;
    float: right;

}
.form-section h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #6284FF;
    border-radius: 5px;
    
}
.form-section p{
    text-align: center;
    letter-spacing: 1px;
}
.company-about i{
    display: inline-block;
    margin-right: 1rem;
}
.company-about i{
    display: inline-block;
   text-transform: uppercase;
}
.form-section{
    background-color: #f4f4f4;
}
.form-wrapper .company img{
    width: 90%;
    min-height: 40rem;
    object-position: right;
}
.form-wrapper .company p{
    
    font-size: 1.6rem;
    text-transform: lowercase ;
}
.form-wrapper .form-section .form-about{
    display: block;
}
.form-wrapper label{
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
}
.form-wrapper textarea{
    width: 99%;
}
.form-wrapper input{
    padding: 0.5rem;
    width: 98%;
}
.form-section .form-part{
    margin-bottom: 1rem;
}
.form-section .form-btn{
    margin-right: 15rem;
}
body{
    background-size: cover;
}
@media (max-width:500px) {
    html{
        font-size: 50%;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        text-align: center;
        width: 100%;
    }
    .feature .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.644);
    }
    .feature .box-2,.feature .box-3{
        margin-top: 7rem;
    }
    .row{
        height: 350px;
        box-shadow: none;
        
    }
    .ptn-banner-left,.ptn-banner-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .about-wrapper ul{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    } 
    .form-wrapper .form-section{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media (min-width:501px) and (max-width:768px) {
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.8rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        display: block;
        text-align: center;
        width: 100%;
    }
    .row{
        height: auto;
        width: 100%;
    }
    .row .img-box, .row .text-box{
        float: none;
        text-align: center;
        width: 100%;
    }
    .feature .box{
        float: none;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.644);
    }
    .feature .box-2,.feature .box-3{
        margin-top: 7rem;
    }
    .row{
        height: 350px;
        box-shadow: none;
        
    }
    .ptn-banner-left,.ptn-banner-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .about-wrapper ul{
        float: none;
        width: 100%;
        text-align: center;
    }
    .form-wrapper .company{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    } 
    .form-wrapper .form-section{
        float: none;
        width: 100%;
        height: auto;
    }

    
}
@media (min-width:769) and (max-width:1200px){
    html{
        font-size: 52.25%;
    }
    .row .text-box h2{
        font-size: 2.2rem;
        font-weight: 500px;
    }
}
@media (orientation:landscape) and (max-height:500px){
    
    .header{
        height: 90vmax;
    }
}
    

