body{
    padding: 0px;
    border: 0px;
    background-color: rgb(26, 9, 9);
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Aboreto', cursive;
    background-color: bisque;
    text-shadow: 3px 0 red;
}
footer {
    color: #DBEDF3;
    font-family: sans-serif;
}
.w {
    background-image: url("images/tom1.png");

}

.a {
    background-image: url("images/tom2.png");

}
.s {
    background-image: url("images/tom3.png");

}
.d {
    background-image: url("images/tom4.png");

}
.q {

    background-image: url("images/crash.png");
}

.e {
    background-image: url("images/kick.png");
}

.f {
    background-image: url("images/snare.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
